body {
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.modal {
  background-color: rgba(255, 255, 255, 0.5);
}

.modal.show {
  display: block;
}

.modal-content{
  text-align: center;
}

.img-fluid {
  display: block;
  height: 150px;
  margin: 10px auto 0;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.container-sm {
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.text-primary {
  margin: 20px;
  text-align: center;
}

.btn {
  margin: 20px auto;
  width: 250px;
  display: block;
}

a{
  display: block;
  text-align: center;
}

